<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>This is my site</h2>

<h3>These are my projects</h3>
    <ul>
        <li>CLi Project</li>
        <li>Gourmet Basket</li>
        <li>Matsuko Mechanics</li>
        <li>Town Issues - Vanilla JS</li>
        <li>Town Issues - React and Redux</li>
    </ul>

<p><%= link_to "Resume",  welcome_resume_path %></p>
<p><%= link_to "Contact",  new_contact_path %></p>